<div class="container-fluid">
  <div class="corousel" data-ride="carousel">
    <div class="corousel-inner">
      <div class="item active">
        <img class="d-block img-fluid" src="../../assets/hero.jpg">
        <div class="carousel-caption">
          <h1>Title
          <small>City</small></h1>
        </div>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Prerequisites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Visa and Logistics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Leadership and Development</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
