<div class="cotainer col-sm-3">
  <ul class="nav nav-stacked" id="sidebar">
    <li role="nav-item">
      <a href="#overview">Overview</a>
    </li>
    <li role="nav-item">
      <a href="#prerequisites">Prerequisites</a>
    </li>
    <li role="nav-item">
      <a href="#">Visa and Logistics</a>
    </li>
    <li role="nav-item">
      <a href="#">Leadership and Development</a>
    </li>
  </ul>
</div>
<div class="container col-sm-9">
  <div id="overview">
    <h3> Overview </h3>
    <h5> Sustainable development goal</h5>
    <h4>Quality Education</h4>
    <p>{{jsonObj.sdg_info.sdg_target.target}}</p>
    <h4> Role description</h4>
    <p>{{jsonObj.sdg_info.sdg_target.description}}</p>
    <h4> Main activities</h4>
    <ul>
      <div *ngFor="let activity of jsonObj.role_info.learning_points_list">
        <li>{{activity}}</li>
      </div>
    </ul>
  </div>
  <div id="prerequisites">
    <h3> Prerequisites </h3>
    <h4>Backgrounds</h4>
    <p>{{jsonObj.sdg_info.sdg_target.target}}</p>
    <h4> Role description</h4>
    <p>{{jsonObj.sdg_info.sdg_target.description}}</p>
    <h4> Main activities</h4>
    <ul>
      <div *ngFor="let activity of jsonObj.role_info.learning_points_list">
        <li>{{activity}}</li>
      </div>
    </ul>
  </div>
</div>