 <div class="cotainer col-sm-3">
    <ul class="nav nav-stacked" id="sidebar">
      <li role="nav-item">
        <a class="active" href="#overview">Overview</a>
      </li>
      <li role="nav-item">
        <a href="#">Prerequisites</a>
      </li>
      <li role="nav-item">
        <a href="#">Visa and Logistics</a>
      </li>
      <li role="nav-item">
        <a href="#">Leadership and Development</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-9">
    <pre id="overview">
    <strong> Overview 
    <small> development goal
    Quality Education</small>
  </strong>
    <p>By 2030, substantially increase the supply of qualified teachers, including through international cooperation for
teacher training in developing countries, especially least developed countries and small island developing States
       <strong>  Role description</strong>
    Role Description here
    <strong> Main activities</strong>
    This is a new learning point!
    
    Learning Points here
    
    Learning Points here
    
    Learning Points here
    
    Learning Points here
  </p>
</pre>
  </div>